In [5]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [6]:
housing_to_load = Path("Resources/LIHTCPUB.CSV")

public_housing_data = pd.read_csv(housing_to_load)

In [7]:
public_housing_data.head(1)

,hud_id,project,proj_add,proj_cty,proj_st,proj_zip,state_id,latitude,longitude,place1990,...,n_unitsr,li_unitr,metro,dda,qct,nonprog,nlm_reason,nlm_spc,datanote,record_stat
0,AKA0000X018,"GATEWAY-SEWARD ASSOCIATES, LTD PTN",1810 PHOENIX ROAD,SEWARD,AK,99664,AK-99-99,60.125469,-149.44606,NaN,...,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X

In [8]:
column_names = public_housing_data.columns.tolist()
print(column_names)

['hud_id', 'project', 'proj_add', 'proj_cty', 'proj_st', 'proj_zip', 'state_id', 'latitude', 'longitude', 'place1990', 'place2000', 'place2010', 'fips1990', 'fips2000', 'fips2010', 'st2010', 'cnty2010', 'scattered_site_cd', 'resyndication_cd', 'allocamt', 'n_units', 'li_units', 'n_0br', 'n_1br', 'n_2br', 'n_3br', 'n_4br', 'inc_ceil', 'low_ceil', 'ceilunit', 'yr_pis', 'yr_alloc', 'non_prof', 'basis', 'bond', 'mff_ra', 'fmha_514', 'fmha_515', 'fmha_538', 'home', 'home_amt', 'tcap', 'tcap_amt', 'cdbg', 'cdbg_amt', 'htf', 'htf_amt', 'fha', 'hopevi', 'hpvi_amt', 'tcep', 'tcep_amt', 'rad', 'qozf', 'qozf_amt', 'rentassist', 'trgt_pop', 'trgt_fam', 'trgt_eld', 'trgt_dis', 'trgt_hml', 'trgt_other', 'trgt_spc', 'type', 'credit', 'n_unitsr', 'li_unitr', 'metro', 'dda', 'qct', 'nonprog', 'nlm_reason', 'nlm_spc', 'datanote', 'record_stat']

In [9]:
#OR only 
updated_housing_data = public_housing_data[public_housing_data['proj_st'] == 'OR']


unique_names = updated_housing_data['proj_st'].unique()
print(unique_names)

['OR']

In [10]:
#Filter only Multnmah Cty using the fips code, 41 = OR  05 = Mult Cty, filter 
multnomah_housing_data = updated_housing_data[updated_housing_data['fips2010'].str.startswith('4105')]

In [11]:
#Filter only Gresham and Portland
multnomah_housing_data = updated_housing_data[(updated_housing_data['proj_cty'] == 'PORTLAND') | (updated_housing_data['proj_cty'] == 'GRESHAM')]

In [12]:
unique_blocks = multnomah_housing_data['fips2010'].unique()
print(unique_blocks)

['41051010600' '41051008202' '41051005900' '41051010411' '41051002903'
 '41051005500' '41051007600' '41051005100' '41051004001' '41051003601'
 '41051000902' '41051003200' '41051003402' '41051003401' '41051003602'
 '41051003901' '41051003803' '41051003501' '41051003902' '41051003701'
 '41051003502' '41051007400' '41051004900' '41051010100' '41051009201'
 '41051000301' '41051002502' '41051003302' '41051002203' '41051003301'
 '41XXXXXXXXX' '41051001701' '41051006602' '41051006502' '41051000802'
 '41051002100' '41051003802' '41051005000' '41051009605' '41051009501'
 '41051001900' '41051002902' '41051009907' '41051005200' '41051010001'
 '41051009606' '41067032005' '41051002303' '41051008201' '41067030600'
 '41051002000' '41051001301' '41067031514' '41051008302' '41051004101'
 '41051010002' '41051008400' '41051009701' '41051008100' '41051000502'
 '41051004002' '41051009801' '41051009000' '41051000702' '41051007500'
 '41051005700' '41051009702' '41051001801' '41051009301' '41051002702'
 '41051009101' '41067031509' '41051003702' '41051008301' '41051000601'
 '41051009302' '41051008901' '41051000200' '41051007800' '41005022206'
 '41051006702' '41051006002' '41051005600' '41051004800' '41051004500'
 '41051001201' '41051009604' '41051000701' '41051003801']

In [13]:
row_count = len(multnomah_housing_data)
print(row_count)

258

In [14]:
multnomah_housing_data.head()

,hud_id,project,proj_add,proj_cty,proj_st,proj_zip,state_id,latitude,longitude,place1990,...,n_unitsr,li_unitr,metro,dda,qct,nonprog,nlm_reason,nlm_spc,datanote,record_stat
38621,ORA00000001,333 OAK APTS,333 SW OAK ST,PORTLAND,OR,97204,0017-017,45.521114,-122.674171,905.0,...,9.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,PROPERTY IDENTIFIED IN 2014 LIHTC TENANT DATA ...,X
38622,ORA00000002,ANKENY WOODS ARMS,11908 SE ANKENY ST,PORTLAND,OR,97216,637,45.521599,-122.540131,905.0,...,40.0,40.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,X
38623,ORA00000005,KELLY DUPLEX,5531 SW KELLY AVE,PORTLAND,OR,97239,OR87-140,45.483604,-122.676025,905.0,...,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,X
38627,ORA00000011,"CEDARS APTS, THE",3181 SE POWELL BLVD,GRESHAM,OR,97080,734,45.492298,-122.400208,465.0,...,19.0,19.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,X
38628,ORA00000013,COLUMBIA KNOLL (FAMILY),8224 NE SANDY BLVD,PORTLAND,OR,97220,229-01,45.552567,-122.577835,905.0,...,117.0,117.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,X

In [15]:
unique_cities = multnomah_housing_data['proj_cty'].unique()
print(unique_cities)

['PORTLAND' 'GRESHAM']

In [16]:
unique_zip = multnomah_housing_data['proj_zip'].unique()
print(unique_zip)

['97204' '97216' '97239' '97080' '97220' '97205' '97201' '97218' '97209'
 '97203' '97211' '97202' '97212' '97217' '97227' '97030' '97233' '97232'
 nan '97215' '97219' '97214' '97230' '97213' '97236' '97224' '97223'
 '97229' '97266' '97206' '97086' '97210']

In [17]:
zip_code_data = multnomah_housing_data[(multnomah_housing_data['proj_zip'] == '97086') | (multnomah_housing_data['proj_zip'] == '97223')
                                                              | (multnomah_housing_data['proj_zip'] == '97223')
                                                              | (multnomah_housing_data['proj_zip'] == '97229')]
                                        
zip_code_data.head(20)

,hud_id,project,proj_add,proj_cty,proj_st,proj_zip,state_id,latitude,longitude,place1990,...,n_unitsr,li_unitr,metro,dda,qct,nonprog,nlm_reason,nlm_spc,datanote,record_stat
38873,ORA19960030,HAWTHORNE VILLA,7709 SW PFAFFLE ST,PORTLAND,OR,97223,X001-306,45.438084,-122.756203,1132.0,...,119.0,119.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
38885,ORA19970020,BETHANY MEADOWS I,16140 NW SPARTAN WAY,PORTLAND,OR,97229,685,45.556957,-122.843567,NaN,...,208.0,208.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,X
38915,ORA19980025,BETHANY MEADOWS II,16145 NW SPARTAN WAY,PORTLAND,OR,97229,686,45.556980,-122.843658,NaN,...,132.0,132.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,X
39027,ORA20020080,WEST RIDGE MEADOWS APTS,18464 NW CHEMEKETA LN,PORTLAND,OR,97229,66,45.561066,-122.867004,NaN,...,276.0,276.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,X
39115,ORA20060095,THE TERRACE AT MT SCOTT,10125 SE BOB SCHUMACHER RD,PORTLAND,OR,97086,503,45.449955,-122.568970,NaN,...,52.0,51.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X